.div {
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.6);
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  border-radius: 4px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  width: 780px;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 85px 0 58px;
}
@media (max-width: 991px) {
  .div-2 {
    margin: 40px 0;
  }
}
.div-3 {
  padding-left: 15px;
  justify-content: flex-end;
  border-radius: 4px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-4 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 48%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
@media (max-width: 991px) {
  .span {
    margin-top: 40px;
  }
}
.div-5 {
  justify-content: center;
  color: #000;
  text-align: center;
  white-space: nowrap;
  font: 400 18px Georgia, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    white-space: initial;
  }
}
.div-6 {
  justify-content: center;
  color: #000;
  text-align: center;
  margin-top: 4px;
  max-width: 303px;
  font: 400 19px Georgia, sans-serif;
}
.div-7 {
  justify-content: center;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  margin-top: 43px;
  flex-direction: column;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div-7 {
    margin-top: 40px;
  }
}
.span-2 {
  justify-content: center;
  color: #272729;
  white-space: nowrap;
  align-items: start;
  border: 1px solid #000;
  background-color: #fff;
  padding: 17px 60px 17px 17px;
  font: 400 15px Arial, sans-serif;
}
@media (max-width: 991px) {
  .span-2 {
    white-space: initial;
    padding-right: 20px;
  }
}
.span-3 {
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #272729;
  background-color: #272729;
  align-self: stretch;
  margin-top: 20px;
  padding: 16px 60px;
  font: 400 15px/106% Arial, sans-serif;
  cursor: pointer;
}
@media (max-width: 991px) {
  .span-3 {
    white-space: initial;
    padding: 0 20px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-8 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  aspect-ratio: 0.7222222222222222;
  flex-grow: 1;
  align-items: end;
  padding: 16px 16px 50px 60px;
}
@media (max-width: 991px) {
  .div-8 {
    margin-top: 15px;
    padding-left: 20px;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-2 {
  aspect-ratio: 1;
  display: initial;
  
  width: 50px;
  
  position: relative;
}
@media (max-width: 991px) {
  .img-2 {
    margin-bottom: 40px;
  }
}

